# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
    1. List of popular lanages used by Data Scientists.
    2. List of some commonly used libraries used by Data Scientists.
    3. List of some Data Science Tools.
    4. An Example of a Mathematical Expression used in Python.
    5. A python code that converts minutes to hours.

Some of the popular languages used by Data Scientists:
    
    1. SQL
    2. Python 
    3. Julia

Some of the commonly used libraries used by Data Scientists include:
 
    1. Pandas  
    2. Seaborn 
    3. Numpy 
    4. Matplotlib 
    5. Scipy

 
| Data Science Tools|
|-------------------|
|Jupyter Notebook   |
|-------------------|
|Spark              |
|-------------------|
|Hadoop             |
|-------------------|

### Below are few examples of arithmetic expressions in Python:

In [1]:
(3*4)+5
# This is a simple arithmetic expression to multiply and then add integers.

17

In [4]:
def mins_to_hr(mins):
    result = mins / 60
    return result

ans = mins_to_hr(200)
# This will convert 200 mins to hours by diving by 60

3.3333333333333335

## Author
Bernard Appiah